* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background-color: #99582a;
    color: #ccc9e7;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #ccc9e7;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header nav a:hover {
    color: #ffdd57;
}

/* HERO SECTION */
.hero {
    height: 300px;
    background-color: #bb9457;
    padding: 80px 40px;
    text-align: center;
}

.hero span {
    color: #333d29;
    font-weight: bold;
}

.about h2{
    margin-bottom: 65px;
    margin-top: 40px;

}

/* ABOUT, PROJECTS, CONTACT SECTIONS */
.about, .projects, .contact {
    padding: 40px;
    text-align: center;
    font-size: 19px;
    color: black;
}

.about p {
    width: 70%;
    margin: auto;
    font-weight: bold;
}

/* PROJECT CARDS */
.project-card{
    background: #C59560;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    max-width: 550px;
    border-left: 7px solid #7B542F;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 2px;
    height: 400px;
}



.project-card img {
    width: 80%;
    max-width: 220px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin: center;
    margin-top: 10px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.projects h2{
    color: #715A5A;
}

/* CONTACT FORM */
.contact-form {
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #0077ff;
}

.contact-form button {
    padding: 12px;
    background-color: #C4A484;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: #7B542F;
}

/* CONTACT TEXT */
.contact p {
    font-size: 18px;
    margin-top: 10px;
}

/* FOOTER */
footer {
    background-color: #7B542F;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
