* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background-color: #333;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header nav a:hover {
    color: #ffdd57;
}

/* HERO SECTION */
.hero {
    height: 300px;
    background-color: #f2f2f2;
    padding: 80px 40px;
    text-align: center;
}

.hero span {
    color: #0077ff;
    font-weight: bold;
}

/* ABOUT, PROJECTS, CONTACT SECTIONS */
.about, .projects, .contact {
    padding: 40px;
    text-align: center;
}

.about p {
    width: 70%;
    margin: auto;
}

/* PROJECT CARDS */
.project-card{
    background: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    max-width: 500px;
    border-left: 5px solid #0077ff;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 2px;
}

/* CONTACT FORM */
.contact-form {
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #0077ff;
}

.contact-form button {
    padding: 12px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005fcc;
}

/* CONTACT TEXT */
.contact p {
    font-size: 18px;
    margin-top: 10px;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
